<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FT News.</title>
</head>
<body>
  <header class="header">
    <h1 class="header__logo">FT News.</h1>
    <form action="/headlines" method="GET" role="search">
      <label>Search FT</label>
      <input name="search" type="text" placeholder="Search FT News." required></input>
      <button class="submit" type="submit">
        Search
      </button>
    </form>
  </header>

  <div class="wrapper">
    <div class="news">
      <ul class="#">
        <li class="#">
          <% results.forEach(function(result) { %> 
            <a href="<%- result.location.uri  %>" target="_blank">
              <h3 id="#">
                <%- result.title.title %>
              </h3>
            </a>
            <p><%- result.summary.excerpt%></p>
          <% }) %> 
        </li>
      </ul>
    </div>
  </div>
</body>
</html>